<html>
</head>
<title>VIEW</title>
</head>
<body>
    <form>
    {%csrf_token%}    
        <table>
            <tr>
                <th>listno</th> 
                <th>Name</th> 
                <th>Department</th> 
                <th>Age</th> 
            </tr>
            {% for i in cr%}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.department }}</td>
                <td>{{ i.age }}</td>
                <td><a href="{% url 'detailview' i.id %}" class="btn btn-primary">VIEW</a></td>
                <td><a href="{% url 'update' i.id %}" class="btn btn-primary">UPDATE</a></td>
                <td><a href="{% url 'delete' i.id %}" class="btn btn-primary">DELETE</a></td>
            </tr>
            {% endfor %}
            </tr>
        </table>

    </form>
</body>
</html>
